<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>
        {% block title %}{{ website.title }}{% endblock %}
    </title>
    {% block self_url %}
    <link href="{{ website.url }} {{ content_url(website.atom.url) }}" rel="self" />
    {% endblock %}

    {% block site_url %}
    <link href="{{ website.url }}{{ content_url('') }}"/>
    {% endblock %}

    {% block feed_extra %}
    {% endblock %}

    <updated>{{ time_now|xmldatetime }}</updated>

    <id>{{ website.url }}{{ content_url(resource.url) }}</id>

    {% for res in resource.node.walk_resources_sorted_by_latest() %}
        <entry>
            <title type="html">{{ res.meta.title }}</title>
            <author><name>{{ website.author }}</name></author>
            <link href="{{ website.url }}{{ content_url(res.url) }}"/>
            <updated>{{ res.meta.updated|xmldatetime }}</updated>
            <published>{{ res.meta.created|xmldatetime }}</published>
            <id>{{ website.url }}{{ content_url(res.url) }}</id>
            {% for tag in res.meta.tags %}
            <category   scheme="{{ website.url }}{{ content_url('blog/tags') }}"
                        term="{{tag}}"
                        label="{{ tag|title }}" />
            {% endfor %}

            {% refer to res.url as article -%}
            {% set content = site.load_resource(res) | restructuredtext | striptags %}

            <summary>
            {% filter forceescape -%}
              {% if article.excerpt %}
                {{ article.image }}
                {{ article.excerpt }}
              {% else %}
                {{ content | truncate(length=255, end='...')}}
              {% endif %}
            {%- endfilter %}
            </summary>

            <content type="html">
              {% filter forceescape -%}
              {% if resource.meta.full_content -%}
                {{ content }}
              {%- endif %}
              {%- endfilter %}
            </content>

        </entry>
    {% if loop.index > 8 %} {% break %} {% endif %} 
    {% endfor %}
</feed>
