<!doctype html>
<html lang="en">
  <head>
  <title>{{ website.title }}</title>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="description" content="{{ website.description }}" />
  <link rel="stylesheet" type="text/css"
    media="screen"
    href="{{ media_url('css/reset.css') }}" />
  <link rel="stylesheet" type="text/css"
    media="screen"
    href="{{ media_url('css/960.css') }}" />
  <link rel="stylesheet" type="text/css"
    media="screen"
    href="{{ media_url('css/style.css') }}" />

  <link
    rel="alternate" type="application/rss+xml"
    title="{{ website.title }} RSS Feed"
    href="{{ content_url(website.atom.url) }}" />
  <meta name="generator" content="Hyde" />
</head>

<body>
  <!-- header starts -->
  <div id="header-wrap">
    <div id="header" class="container_16">                        
      <div>
        <h1 id="logo-text">
          <a href="/" title="">{{ website.title }}</a>
        </h1>
      </div>

      <div>
        <p id="intro">{{ website.tagline }}</p>               
      </div>
          
      <div id="nav">
          <ul>
          {% for item in website.menu -%}

          {% set active = False -%}
          {% if item.type == 'page' -%}
              {% set active = (resource.url ==
                  site.content.resource_from_relative_path(item.url).url) -%}
          {% else -%}
              {% set active = (node ==
                  site.content.node_from_relative_path(item.url)) -%}
          {%- endif %}
          {% set classes = ['page_item'] -%}
          {% do classes.append('current_page_item') if active -%}
          <li class="{{ classes|join(' ') }}">
              <a href="{{ content_url(item.url) }}">
                  {{ item.name }}
              </a>
          </li>
          {%- endfor %}
        </ul>       
      </div>      

      <div id="header-image"></div>
      <form id="quick-search" action="http://adi.roiban.ro/" method="get" >
          <p>
          <label for="qsearch">Search:</label>
          <input class="tbox" id="qsearch" type="text" name="s" value="" title="Start typing and hit ENTER" />
          <input class="btn" alt="Search" type="image"  title="Search" src="http://adi.roiban.ro/wp-content/themes/keep-it-simple/images/search.gif" />
          </p>
      </form>
    </div>
  </div>
  <!-- header ends -->


  <!-- content starts -->
  <div id="content-outer">
    <div id="content-wrapper" class="container_16">

      <!-- main -->
      <div id="main" class="grid_8">
        {% block heading %}
        <h2>
          <a href="{{ resource.url }}" rel="bookmark" title="Permanent Link to {{ resource.meta.title }}">{{ resource.meta.title }}</a>
        </h2>
        {% endblock heading %}

        {% block main %}
          {% filter restructuredtext -%}
          {% block content %}{% endblock %}
          {%- endfilter %}
        {% endblock main %}

        {% block page_date %}
        <p class="postmeta">
            <span class="date">
              <a href="{{ resource.url }}" rel="bookmark" title="Permanent Link to {{ resource.meta.title }}">
                Permalink
              </a>
              |
              Created {{ resource.meta.created.strftime('%A, %d %B %Y') }}
              |
              Last updated {{ resource.meta.updated.strftime('%A, %d %B %Y') }}
            </span>
        </p>
        {% endblock page_date %}

    {% block navigation %}
    {% if resource.meta.created %}
      <div class="alignleft">
      {% if resource.next_by_latest %}
        <a href="{{ resource.base_url }}{{ resource.next_by_latest.url -}}">« Older post</a>
      {% else %}
        <span class="disabledLinkWrap">« Older post</span>
      {% endif %}
      </div>

      <div class="alignright">
      {% if resource.prev_by_latest %}
        <a href="{{ resource.base_url }}{{ resource.prev_by_latest.url -}}">Newer post »</a>
      {% else %}
        <span class="disabledLinkWrap">Newer post »</span>
      {% endif %}
      </div>
    {% endif %}
    {% endblock navigation %}

      </div>
      <!-- main ends -->


      <!-- left-columns starts -->
      <div id="left-columns" class="grid_4">
          <div class="grid_4 omega">
          {% import "macros.j2" as macros with context %}
          {{ macros.render_categories_nav() }}

          {% import "macros.j2" as macros with context %}
          {{ macros.render_badges() }}
          </div>

      </div>
      <!-- end left-columns -->

    </div>
  </div>
  <!-- content ends -->

  <!-- footer starts -->
  <div id="footer-wrapper" class="container_16">
    <div id="footer-bottom">

      <p class="bottom-left">
        &copy;{{ website.author }} |
        Source on <a href="{{website.source_url}}">GitHub</a> |
        Generated using <a href="http://hyde.github.com/">Hyde</a> |
        Design by : <a href="http://www.styleshout.com/">styleshout</a> |
        Theme by : <a href="http://www.themelab.com">Theme Lab</a> and
          <a href="http://www.websiteoffice.com/2008/06/reputation-link-bait/">Link Bait</a>
      </p>

      <p class="bottom-right" >
        <a href="http://adi.roiban.ro">Home</a> |
        <a href="{{ content_url(website.atom.url) }}">
          {{ website.atom.name }}
        </a>
      </p>

    </div>  
  </div>

</body>
</html>
