{% extends "base.j2" %}

{% set pages_by_latest = resource.node.walk_resources_sorted_by_latest() %}
{% set resource = pages_by_latest[0] %}

{% block heading %}
<h2>
  <a href="{{ resource.url }}" rel="bookmark" title="Permanent Link to {{ resource.meta.title }}">{{ resource.meta.title }}</a>
</h2>
{% endblock heading %}

{% block navigation %}
<ul class="pager">
  <li>
    <a href="{{  pages_by_latest[1].url }}">« Older post</a>
  </li>
</ul>
{% endblock navigation %}

{% block main %}

  {# we can not pass resource to 'refer' #}
  {% set res = resource %}
  {% refer to res.url as article -%}
  {% if article.excerpt %}
    {{ article.excerpt|restructuredtext }}
    <a href="{{ res.url }}">Read more...</a>
  {% else %}
    {{ site.load_resource(resource)|restructuredtext }}
  {% endif %}
  <p>
    <a href="{{ res.url }}#comments">Leave or read comments...</a>
  </p>
{% endblock main %}

{% block comments %}
{% endblock comments %}
