{% extends "base.j2" %}

{% set pages_by_latest = site.content.walk_resources_sorted_by_latest() %}
{% set resource = pages_by_latest[0] %}

{% block heading %}
<h2>
  <a href="{{ resource.url }}" rel="bookmark" title="Permanent Link to {{ resource.meta.title }}">{{ resource.meta.title }}</a>
</h2>
{% endblock heading %}

{% block navigation %}
  <div class="alignleft">
    <a href="{{  pages_by_latest[1].url }}">« Older post</a>
  </div>
{% endblock navigation %}

{% block main %}
{% filter restructuredtext -%}
{{ site.load_resource(resource) }}
{%- endfilter %}


{% endblock main %}